<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css?_v=20220731004925">
    <title>Войти</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap&_v=20220731004925"
        rel="stylesheet">
</head>


<body class="page__body page--body-input">
    <div class="login__wrapper">
        <div class="login__list">
            <h1 class="login__title">Citadel</h1>
            <p class="login__subtitle">Admin Panel</p>
        </div>
        <form class="container login__container" @submit.prevent="Auth">
            <input id="username" v-model="form.username" type="text" class="input login__input" placeholder="Введите Логин">
            <input id="password" v-model="form.password" type="text" class="input login__input" placeholder="Введите Пароль">
            <button class="button login__button">Войти</button>
        </form>
    </div>
</body>
<script type="module" src="frontendAuth.js"></script>
</html>