<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.min.css?_v=20220727021754" />
    <title>Платежи</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="main__body">
    <div class="wrapper">
      <div class="container main__container">
        <header class="header">
          <div class="container header__container">
            <button
              class="burger"
              data-burger
              aria-label="Открыть меню"
              aria-expanded="false"
            >
              <span class="burger__line"></span>
            </button>
            <a class="header__logo" @click="logout()">Logout</a>
          </div>
        </header>

        <div class="sidebar" data-nav>
          <a href="/newspage" class="sidebar__link">Новости</a>
          <a href="/projectspage" class="sidebar__link">Проекты</a>
          <a href="/wepage" class="sidebar__link">Мы помогли</a>
          <a href="/uspage" class="sidebar__link">Нам помогли</a>
          <a href="/help" class="sidebar__link">Заявки</a>
          <a href="/video" class="sidebar__link">Видеоблог</a>
          <a href="/orders" class="sidebar__link">Платежи</a>
        </div>
        <main class="content">
          <div class="content__container">
            <div class="content__items">
              <div class="content__item" v-for="item in content">
                <div class="content__info">
                  <div class="content__info-item">{{ item.id }}</div>
                  <div class="content__info-item">{{ item.purpose }}</div>
                  <div class="content__info-item">{{ item.sum }}</div>
                  <div class="content__info-item">{{ item.fname }}</div>
                  <div class="content__info-item">{{ item.lname }}</div>
                  <div class="content__info-item">{{ item.phone }}</div>
                  <div class="content__info-item">{{ item.email }}</div>
                  <div class="content__info-item">{{ item.date_create }}</div>
                </div>
                <div class="content__buttons">
                  <button
                    class="button button__item"
                    @click="removeContent(item.id)"
                  >Удалить</button>
                  <!-- <button
                    class="button button__item"
                    @click="mark(item.id)"
                    data-button-change
                  >
                    Отметить
                  </button> -->
                </div>
              </div>
            </div>
            <!-- <button
              class="button__add button"
              @click="panelControl()"
              id="panel"
            >
              <span id="panel_text">Открыть панель</span>
            </button> -->
            <form
              class="content__add"
              @submit.prevent="createContent"
              enctype="multipart/form-data"
              data-content-add
              id="form"
            >
              <div class="content__add--area content__add--inputs">
                <input
                  id="fullname"
                  v-model="form.fullname"
                  placeholder="ФИО"
                  type="text"
                  class="content__input input"
                />
                <input
                  id="email"
                  v-model="form.email"
                  placeholder="Почта"
                  type="text"
                  class="content__input input input"
                />
                <input
                  id="phone"
                  v-model="form.phone"
                  placeholder="Телефон"
                  type="text"
                  class="content__input input input"
                />
              </div>
              <div class="content__add--area content__add--textareas">
                <!-- textarea pdf -->
                <textarea
                  id="documents"
                  v-model="form.documents"
                  style="white-space: pre"
                  class="content__textarea textarea textarea-pdf"
                  placeholder="Ссылка|Название файла"
                ></textarea>
              </div>
              <div class="content__add--area content__add--buttons">
                <button class="button content__button">Добавить</button>
                <div v-if="update_id!=''">
                  <button
                    class="button content__button"
                    type="button"
                    @click="update()"
                  >
                    Обновить
                  </button>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>

  <script type="module" src="frontendOrders.js"></script>
</html>
