<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.min.css?_v=20220727021754" />
    <title>Нам</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap"
        rel="stylesheet">
  </head>

  <body class="main__body">
    <div class="wrapper">
      <div class="container main__container">
        <header class="header">
          <div class="container header__container">
            <button
              class="burger"
              data-burger
              aria-label="Открыть меню"
              aria-expanded="false"
            >
              <span class="burger__line"></span>
            </button>
            <a class="header__logo" @click="logout()">Logout</a>
          </div>
        </header>

        <div class="sidebar" data-nav>
          <a href="/newspage" class="sidebar__link">Новости</a>
          <a href="/projectspage" class="sidebar__link">Проекты</a>
          <a href="/wepage" class="sidebar__link">Мы помогли</a>
          <a href="/uspage" class="sidebar__link">Нам помогли</a>
          <a href="/help" class="sidebar__link">Заявки</a>
          <a href="/video" class="sidebar__link">Видеоблог</a>
          <a href="/orders" class="sidebar__link">Платежи</a>
        </div>
        <main class="content">
          <div class="content__container">
            <div class="content__items">
              <div class="content__item" v-for="item in content">
                <div class="content__info">
                  <div class="content__info-item">{{ item.date }}</div>
                  <div class="content__info-item">{{ item.benefactor }}</div>
                  <div class="content__info-item">{{ item.objective }}</div>
                  <div class="content__info-item">{{ item.amount }}</div>
                </div>
                <div class="content__buttons">
                  <button
                    class="button button__item"
                    @click="removeContent(item.id)"
                  >
                    Удалить
                  </button>
                  <button
                    class="button button__item"
                    @click="mark(item.id)"
                    data-button-change
                  >
                    Изменить
                  </button>
                </div>
              </div>
            </div>
            <button class="button__add button" @click="panelControl()" id="panel">
              <span id="panel_text">Открыть панель</span>
            </button>
            <form
              class="content__add"
              @submit.prevent="createContent"
              enctype="multipart/form-data"
              data-content-add
              id="form"
            >
            <div class="content__add--area content__add--inputs">
              <input
                  type="date"
                  id="date"
                  v-model="form.date"
                  class="content__input input input-3"
                  placeholder="Добавить дату"
                />
              <input
                id="benefactor"
                v-model="form.benefactor"
                placeholder="Благопотворитель"
                type="text"
                class="content__input input"
              />
              <input
                id="objective"
                v-model="form.objective"
                placeholder="Цель"
                type="text"
                class="content__input input"
              />
              <input
                id="amount"
                v-model="form.amount"
                placeholder="Сумма"
                type="text"
                class="content__input input"
              />
            </div>
            <div class="content__add--area content__add--buttons">
              <button class="button content__button">Добавить</button>
              <div v-if="update_id!=''">
                <button
                  class="button content__button"
                  type="button"
                  @click="update()"
                >Обновить</button>
              </div>
            </div>
            </form>
        </div>
            </div>
          </div>
        </main>
      </div>
      
    </div>
  </body>
  
  <script type="module" src="frontendUs.js"></script>
  
</html>
