@charset "UTF-8";

/* Обнуление */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 14px;
  background-color: var(--gray-bg);
}

body.lock {
  overflow: hidden;
}

input {
  outline: none;
}

input:focus {
  outline: 1px solid var(--hover-bg);
}

textarea {
  outline: none;
}

textarea:focus {
  outline: 1px solid var(--hover-bg);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(199, 199, 199);
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-text);
}

:root {
  /* colors */
  --gray-bg: rgb(248, 248, 248);
  --gray-text: rgb(138, 138, 138);
  --main-bg: #2358c2;
  --second-bg: #fff;
  --element-bg: #4577db;
  --main-text: #fff;
  --second-text: #2358c2;
  --accent: #bed4ff;
  --accent-active: #2358c2;
  --hover-bg: #0a3791;
  --hover-text: #fff;
  --focus-text: #2358c2;
  /* container */
  --padding: 15px;
  --max-width-container: 1440px;
  --shadow: 0px 0px 3px rgb(177, 177, 177);
}

.page__body {
  padding: 50px;
  min-width: 320px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 var(--padding);
  max-width: var(--max-width-container);
}

.title {
  margin: 0;
  margin-bottom: 15px;
  color: var(--main-text);
}

.title--main {
  font-size: 50px;
}

.title--second {
  font-size: 35px;
}

.button {
  padding: 0 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-text);
  background-color: var(--main-bg);
  border-radius: 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  min-height: 30px;
}

.button:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
}

.link {
  font-size: 20px;
  color: var(--main-text);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--accent);
}

.card {
  border: 1px solid var(--second-text);
  border-radius: 4px;
  padding: 15px;
  color: var(--main-text);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: var(--padding);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input {
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  height: 26px;
  padding: 0 20px;
  color: #000;
  border: 1px solid var(--gray-text);
}

.input::-webkit-input-placeholder {
  color: var(--gray-text);
}

.input::-moz-placeholder {
  color: var(--gray-text);
}

.input:-ms-input-placeholder {
  color: var(--gray-text);
}

.input::-ms-input-placeholder {
  color: var(--gray-text);
}

.input::placeholder {
  color: var(--gray-text);
}

.textarea {
  padding: 5px 20px;
  width: 100%;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  height: 100%;
  font-size: 14px;
  border: 1px solid var(--gray-text);
  resize: none;
  background-color: var(--main-text);
}

.textarea::-webkit-input-placeholder {
  color: var(--gray-text);
}

.textarea::-moz-placeholder {
  color: var(--gray-text);
}

.textarea:-ms-input-placeholder {
  color: var(--gray-text);
}

.textarea::-ms-input-placeholder {
  color: var(--gray-text);
}

.textarea::placeholder {
  color: var(--gray-text);
}

.input-file {
  position: relative;
  display: block;
}

.input-file span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  vertical-align: middle;
  color: var(--main-text);
  text-align: center;
  background-color: var(--main-bg);
  border-radius: 5px;
  width: 100%;
  min-width: 200px;
  height: 30px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type=file]:focus + span {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-file:hover span {
  background-color: var(--hover-bg);
  color: var(--hover-text);
}

.input-file:active span {
  background-color: var(--second-text);
}

.input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Fira Sans Condensed", sans-serif;
}

.page--body-input {
  padding: 0;
}

.login__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.login__button {
  height: 37px;
}

.login__input::-webkit-input-placeholder {
  color: var(--gray-text);
}

.login__input::-moz-placeholder {
  color: var(--gray-text);
}

.login__input:-ms-input-placeholder {
  color: var(--gray-text);
}

.login__input::-ms-input-placeholder {
  color: var(--gray-text);
}

.login__input::placeholder {
  color: var(--gray-text);
}

.login__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--main-bg);
  height: 100%;
  width: 100%;
  color: var(--main-text);
  font-weight: 700;
}

.login__title {
  font-size: 32px;
}

.login__subtitle {
  font-size: 24px;
}

.main__container {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "sidebar content";
  -ms-grid-columns: 200px 1fr;
  grid-template-columns: 200px 1fr;
  -ms-grid-rows: 50px 1fr;
  grid-template-rows: 50px 1fr;
  padding: 0;
  height: 100vh;
  background-color: var(--gray-bg);
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: var(--second-bg);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  padding: 0 10px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.header__logo {
  font-weight: 700;
  color: var(--gray-text);
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--gray-text);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--gray-text);
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  overflow-y: auto;
  background-color: var(--main-bg);
  border-radius: 0 0px 0 0;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.sidebar__link {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: var(--element-bg);
  color: var(--accent);
  font-weight: 700;
  -webkit-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.sidebar__link:hover {
  background-color: var(--hover-bg);
  color: var(--hover-text);
}

.sidebar__link:focus {
  background-color: var(--focus-text);
}

.content__add {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content__textarea {
  font-size: 14px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.content__container {
  max-width: var(--max-width-container);
  height: 100%;
  padding: var(--padding);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.content__items {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 5px;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__info {
  width: 100%;
  min-height: 70px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  background-color: var(--second-bg);
  border-radius: 5px;
  border: 1px solid var(--shadow);
  padding: 7px;
  margin-right: 5px;
}

.content__info-item {
  padding: 4px;
  background-color: rgba(240, 240, 240, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__info-item img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

.button__item {
  position: relative;
  background-color: var(--gray-bg);
  padding: 15px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button__item::before,
.button__item::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--gray-text);
}

.button__item::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.button__item::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button__item:hover {
  background-color: inherit;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.content__input {
  font-size: 14px;
}

.content__button {
  height: 30px;
}

@media (max-width: 1024px) {
  .input-file span {
    font-size: 14px;
    min-width: 100%;
  }

  .login__list {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }

  .login__wrapper {
    -ms-grid-rows: 7fr 3fr;
    grid-template-rows: 7fr 3fr;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    background-color: var();
  }

  .content {
    grid-area: auto;
  }

  .content__textarea {
    height: 100%;
    max-width: 100%;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }

  .content__container {
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }

  .content__info {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 5px;
  }

  .content__info-item {
    min-height: 50px;
  }

  .content__add {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 4px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .content__button {
    font-size: 14px;
  }

  .content__input {
    max-width: 100%;
    font-size: 14px;
    height: 30px;
  }

  .content__file {
    width: 100%;
  }

  .input-file {
    display: block;
  }

  .container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .burger {
    display: block;
  }

  .sidebar {
    --header-height: 50px;
    position: fixed;
    left: 0;
    top: var(--header-height);
    z-index: 1000;
    width: 60%;
    max-width: 200px;
    height: calc(100vh - var(--header-height));
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .nav--visible {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 768px) {
  .content__info {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 3px;
  }

  .content__info-item {
    min-height: 40px;
  }
}